body {
    background-color: green;
}
.container {
    text-align: center;
    font-size: 35px;
   

}
input {
    box-shadow: 2px 2px 2px;
    color: black;
    border-radius: 9px;
    width: 15%;
}
label {
    font-family: 'sau';
    font-style: normal;
    padding-top: 7px;
}
.titulo {
  /*  font-style: normal; */
    font-family: 'sau';
    font-size: 50px;
    color: rgb(143, 143, 143);
    padding: 10px;
    width: 70%;
    height: 100px;
    background-color: black;
    line-height: 100px;
    border-radius: 12px;
    margin: 0;
    margin-left: 190px;

}
.form-group {
    position: relative;
    color: black;
}
@font-face {
    font-family:'sau';
    src: url('font/Saudagar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
button {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    transition: all ease 0.3s;
    width: 15%;
    margin: 10px;
    color: grey;
    font-family: 'sau';
    font-style: normal;
    font-size: 25px;
    box-shadow: 3px 3px 3px;

}